html{
    background-color: #d7d7d7;
    font-family: "Outfit", sans-serif;
     --card-bg: #2c3e50;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#box{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
}

#game{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    margin-top: 20px;
}

.card {
  width: 80px;
  height: 80px;
  background-color: var(--card-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 8px;
  color: transparent;
}

.card.flipped {
  background-color: #ecf0f1;
  color: black;
  cursor: default;
}

.card.matched {
  background-color: #42ed89;
  visibility: visible;
}